<div id="sliding-window">
    <sly-card title="Input Project" subtitle="Original data remains unchanged, new project will be created">
        <sly-field title="" description="Input Data">
            <a slot="title" target="_blank"
               :href="`/projects/${data.projectId}/datasets`">{{data.projectName}} ({{data.projectItemsCount}}
                images)</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
        </sly-field>
    </sly-card>

    <sly-style>
        #sliding-window .field-radio {
        margin-bottom: 5px;
        display: inline-flex;
        width: calc(100% - 20px);
        white-space: normal;
        }
    </sly-style>

    <div class="fflex mt15" style="align-items: stretch">
        <sly-card class="mr15"
                  title="Settings"
                  subtitle="Configure parameters of sliding windows, all values are in pixels"
                  style="width: 40%; min-width: 430px;">
            <div>Window height</div>
            <el-input-number class="mt5" v-model="state.windowHeight" :min="1" :max="10000"></el-input-number>
            <div class="mt15">Window width</div>
            <el-input-number class="mt5" v-model="state.windowWidth" :min="1" :max="10000"></el-input-number>
            <div class="mt15">Vertical overlap (y axis)</div>
            <el-input-number class="mt5" v-model="state.overlapY" :min="1" :max="10000"></el-input-number>
            <div class="mt15">Horizontal overlap (x axis)</div>
            <el-input-number class="mt5" v-model="state.overlapX" :min="1" :max="10000"></el-input-number>
            <sly-field style="margin-top: 15px;" title="Border strategy">
                <el-radio-group class="fflex"
                                v-model="state.borderStrategy"
                                style="flex-direction: column; align-items: flex-start">
                    <el-radio label="shift_window">
                        <sly-field class="field-radio"
                                   title="Shift window"
                                   description="Window is shifted to fit into image">
                        </sly-field>
                    </el-radio>
                    <el-radio style="margin-left: 0" label="add_padding">
                        <sly-field class="field-radio"
                                   title="Add padding"
                                   description="Pad image at the bottom right">
                        </sly-field>
                    </el-radio>
                    <el-radio style="margin-left: 0" label="change_size">
                        <sly-field class="field-radio"
                                   title="Change size"
                                   description="Resize window without keeping aspect ratio">
                        </sly-field>
                    </el-radio>
                </el-radio-group>
            </sly-field>

            <!--            <el-select class="mt5" v-model="state.borderStrategy" placeholder="Select">-->
            <!--                <el-option key="add_padding" label="add padding" value="add_padding"></el-option>-->
            <!--                <el-option key="shift_window" label="shift window" value="shift_window"></el-option>-->
            <!--                <el-option key="change_size" label="change size" value="change_size"></el-option>-->
            <!--            </el-select>-->

        </sly-card>
        <sly-card title="Random Preview"
                  subtitle="Visualize sliding windows on random image"
                  style="width: 60%">
            <div slot="header">
                <el-button
                        type="primary"
                        @click="state.previewLoading = true; command('preview')"
                        :loading="state.previewLoading"
                >
                    <i class="zmdi zmdi-slideshow" style="margin-right: 5px"></i> Preview
                </el-button>
            </div>
            <video v-if="data.videoUrl" controls style="max-height: 450px; width: auto;">
                <!--                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">-->
                <source :src="data.videoUrl" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div v-if="!data.videoUrl">Press preview to see video demo</div>
        </sly-card>
    </div>

    <sly-card class="mt15"
              title="Output Project"
              subtitle="Define result project name, press Run and monitor progress">
        <sly-field title="Result project name">
            <el-input v-model="state.resProjectName"></el-input>
            <el-button class="mt10" type="primary" :loading="data.started"
                       @click="data.started = true; command('split')">
                Split
            </el-button>
        </sly-field>

        <div style="margin-top: 30px;">
            <sly-field class="mt15"
                       v-if="data.resProjectId && !data.started"
                       title="Project created">
                <sly-field title="" description="Project">
                    <a slot="title" target="_blank"
                       :href="`/projects/${data.resProjectId}/datasets`">{{data.resProjectName}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.resProjectPreviewUrl}` }"/>
                </sly-field>
            </sly-field>
        </div>
        <div class="fflex mt10" v-if="data.started === true">
            <el-progress :percentage="data.progress"></el-progress>
        </div>
    </sly-card>
</div>