<div id="sliding-window">
    <sly-card title="Input Project" subtitle="Original data remains unchanged, new project will be created">
        <sly-field title="" description="Input Data">
            <a slot="title" target="_blank"
               :href="`/projects/${data.projectId}/datasets`">{{data.projectName}} ({{data.projectItemsCount}}
                images)</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
        </sly-field>
    </sly-card>

    <sly-style>
        #sliding-window .field-radio {
        margin-bottom: 5px;
        display: inline-flex;
        width: calc(100% - 20px);
        white-space: normal;
        }
    </sly-style>

    <div class="fflex mt15" style="align-items: stretch">
        <sly-card class="mr15"
                  title="Settings"
                  subtitle="Configure sliding windows parameters"
                  style="min-width: 310px; max-width: 310px;">
        <sly-field
            style="margin-top: 15px"
            title="Pixels or image size percentage"
        >
            <el-switch
            v-model="state.usePercents"
            width="58"
            on-text="%"
            off-text="px"
            on-color="#20a0ff"
            off-color="#6cb74c"
            style="padding-bottom: 5px"
            @change="state.usePercents == false ? state.resizeWindow = false : null"
            ></el-switch>
        </sly-field>
        <sly-field style="margin-top: 15px" title="Select to use a square form.">
            <el-switch
            v-model="state.useSquare"
            width="58"
            on-text="yes"
            off-text="no"
            on-color="#20a0ff"
            off-color="#bfcbd9"
            style="padding-bottom: 5px"
            ></el-switch>
        </sly-field>

        <div v-if="!state.useSquare"><b>Window height</b></div>
        <div v-if="state.useSquare"><b>Window size</b></div>
        <el-input-number
            size="small"
            v-if="!state.usePercents"
            class="mt5"
            v-model="state.windowHeightPx"
            :min="1"
            :max="10000"
        ></el-input-number>
        <span v-if="!state.usePercents" class="ml10" style="color: gray"
            >pixels</span
        >
        <el-input-number
            size="small"
            v-if="state.usePercents"
            class="mt5"
            v-model="state.windowHeightPercent"
            :min="1"
            :max="100"
        ></el-input-number>
        <span v-if="state.usePercents" class="ml10" style="color: gray"
            >% of image height</span
        >

        <div v-if="!state.useSquare" class="mt15"><b>Window width</b></div>
        <el-input-number
            size="small"
            v-if="!state.usePercents && !state.useSquare"
            class="mt5"
            v-model="state.windowWidthPx"
            :min="1"
            :max="10000"
        ></el-input-number>
        <span
            v-if="!state.usePercents && !state.useSquare"
            class="ml10"
            style="color: gray"
            >pixels</span
        >
        <el-input-number
            size="small"
            v-if="state.usePercents && !state.useSquare"
            class="mt5"
            v-model="state.windowWidthPercent"
            :min="1"
            :max="100"
        ></el-input-number>
        <span
            v-if="state.usePercents && !state.useSquare"
            class="ml10"
            style="color: gray"
            >% of image width</span
        >

        <div v-if="!state.useSquare" class="mt15">
            <b>Vertical overlap (y axis)</b>
        </div>
        <div v-if="state.useSquare" class="mt15"><b>Overlap size</b></div>
        <el-input-number
            size="small"
            v-if="!state.usePercents"
            class="mt5"
            v-model="state.overlapYPx"
            :min="0"
            :max="10000"
        ></el-input-number>
        <span v-if="!state.usePercents" class="ml10" style="color: gray"
            >pixels</span
        >
        <el-input-number
            size="small"
            v-if="state.usePercents"
            class="mt5"
            v-model="state.overlapYPercent"
            :min="0"
            :max="100"
        ></el-input-number>
        <span v-if="state.usePercents" class="ml10" style="color: gray"
            >% of window height</span
        >

        <div v-if="!state.useSquare" class="mt15">
            <b>Horizontal overlap (x axis)</b>
        </div>
        <el-input-number
            size="small"
            v-if="!state.usePercents && !state.useSquare"
            class="mt5"
            v-model="state.overlapXPx"
            :min="0"
            :max="10000"
        ></el-input-number>
        <span
            v-if="!state.usePercents && !state.useSquare"
            class="ml10"
            style="color: gray"
            >pixels</span
        >
        <el-input-number
            size="small"
            v-if="state.usePercents && !state.useSquare"
            class="mt5"
            v-model="state.overlapXPercent"
            :min="0"
            :max="100"
        ></el-input-number>
        <span
        v-if="state.usePercents && !state.useSquare"
        class="ml10"
        style="color: gray"
        >% of window width</span
        >
        
        <sly-field style="margin-top: 15px" title="Resize sliding window" description="Resize result sliding window by given height (px)">
            <el-checkbox
            :disabled="!state.usePercents"
            class="mt5"
            v-model="state.resizeWindow"
            ></el-checkbox
            >
            <el-input-number
            size="small"
            :disabled="!state.usePercents || !state.resizeWindow"
            class="mt5"
            v-model="state.resizeValue"
            :min="0"
            :max="1000"
            ></el-input-number>
            <span
                class="ml10"
                style="color: gray"
                >pixels</span
            >
        </sly-field>

        <sly-field style="margin-top: 15px" title="Border strategy">
            <el-radio-group
            class="fflex"
            v-model="state.borderStrategy"
            style="flex-direction: column; align-items: flex-start"
            >
            <el-radio label="shift_window">
                <sly-field
                class="field-radio"
                title="Shift window"
                description="Window is shifted to fit into image"
                >
                </sly-field>
            </el-radio>
            <el-radio style="margin-left: 0" label="add_padding">
                <sly-field
                class="field-radio"
                title="Add padding"
                description="Pad image at the bottom right"
                >
                </sly-field>
            </el-radio>
            <el-radio style="margin-left: 0" label="change_size">
                <sly-field
                class="field-radio"
                title="Change size"
                description="Resize window without keeping aspect ratio"
                >
                </sly-field>
            </el-radio>
            </el-radio-group>
        </sly-field>
        <div><b>Visualization FPS</b></div>
        <el-input-number
            class="mt5"
            v-model="state.fps"
            :min="1"
            :max="20"
        ></el-input-number>
        <div class="mt15"><b>Draw labels on preview</b></div>
        <el-checkbox class="mt5" v-model="state.drawLabels"
            >Draw labels</el-checkbox
        >
        </sly-card>
        <sly-card title="Random Preview"
                  subtitle="Visualize sliding windows on random image as video"
                  style="width: 100%">
            <div slot="header">
                <el-button
                        type="primary"
                        @click="state.previewLoading = true; command('preview')"
                        :loading="state.previewLoading"
                        :disabled="data.resProjectId || data.started"
                >
                    <i class="zmdi zmdi-slideshow" style="margin-right: 5px"></i> Preview
                </el-button>
            </div>
            <video v-if="data.videoUrl" controls style="max-height: 650px; max-width: 100%;">
                <!--                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">-->
                <source :src="data.videoUrl" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div v-if="!data.videoUrl && state.previewLoading === false">Press preview to watch demo video</div>
            <div v-if=""></div>

            <div class="fflex mt10" v-if="state.previewLoading === true" style="align-items: baseline;">
                <div class="mr10" style="width: 120px;">{{data.progressPreviewMessage}}:</div>
                <el-progress :percentage="data.progressPreview" style="flex: 1"></el-progress>
                <div class="ml10" style="flex: none;">[{{data.progressPreviewCurrent}} / {{data.progressPreviewTotal}}]</div>
            </div>
        </sly-card>
    </div>

    <sly-card class="mt15"
              title="Output Project"
              subtitle="Define result project name, press Run and monitor progress">
        <sly-field title="Result project name">
            <el-input v-model="state.resProjectName"></el-input>
            <el-button class="mt10" type="primary" :loading="data.started" :disabled="data.resProjectId"
                       @click="data.started = true; command('split')">
                Split
            </el-button>
        </sly-field>

        <div style="margin-top: 30px;">
            <sly-field class="mt15"
                       v-if="data.resProjectId && !data.started"
                       title="New project has been created"
                       description="Split configuration is saved in project info (metadata) as json">
                <sly-field title="" description="Project">
                    <a slot="title" target="_blank"
                       :href="`/projects/${data.resProjectId}/datasets`">{{data.resProjectName}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.resProjectPreviewUrl}` }"/>
                </sly-field>
            </sly-field>
        </div>
        <div class="fflex mt10" v-if="data.started === true">
            <div class="mr10" style="width: 120px;">Split images:</div>
            <el-progress class="mt10" v-if="data.started === true" :percentage="data.progress" style="flex: 1"></el-progress>
            <div class="ml10" style="flex: none;">[{{data.progressCurrent}} / {{data.progressTotal}}]
            </div>
        </div>
    </sly-card>
</div>